.Home_background {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #252525;
}

.Home_Inicio {
  width: 752px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Home_Inicio img{
  width: 70%;
  height: 55%;
  object-fit: cover;
}

.Home_IconosRedesSociales{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}